@font-face{
  font-family: BodoniBold;
  src: url('../fonts/Bodoni-Bold.otf')
}
@font-face{
  font-family: Bodoni;
  src: url('../fonts/Bodoni.ttf')
}
@font-face{
  font-family: HelveticaLight;
  src: url('../fonts/HelvLight.otf')
}
@font-face{
  font-family: HelveticaRegular;
  src: url('../fonts/HelvReg.otf')
}
@font-face{
  font-family: Athelas;
  src: url('../fonts/Athelas-Regular.ttf')
}
@font-face{
  font-family: TimeRoman;
  src: url('../fonts/TimeRoman.otf')
}