.footer{
  position: fixed;
  bottom: 0;
  width: calc(100% - 90px);
  height: 114px;
  padding: 0 45px;
  background-color: $lightAccent;
  z-index: 30;
  @media screen and (max-width: 1600px){
    height: 85px;
    padding: 0 30px;
    width: calc(100% - 60px);
  }
  @media screen and (max-width: 440px){
    padding: 0 10px;
    width: calc(100% - 20px);
  }
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    &_describe{
      span{
        font-family: HelveticaLight;
        color: #818992;
      }
    }
    &_arrow{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid transparent;	border-top: 10px solid #2E363F;
      transition: .3s linear;
      cursor: pointer;
      &:hover{
        transform: translate(-50%, -25%);
      }
    }
    &_socials{
      display: flex;
      justify-content: space-between;
      width: 65px;
      .icon{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #2E363F;
        background-repeat: no-repeat;
        background-position: center;
        &-facebook{
          background-image: url('../images/facebook-icon.png');
        }
        &-twitter{
          background-image: url('../images/twitter-icon.png');
        }
      }
    }
  }
}
