
.container{
  padding: 0 45px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  @media screen and (max-width: 1600px){
    padding: 0 30px;
  }
  @media screen and (max-width: 1024px){
    grid-column-gap: 0 15px;
  }
  @media screen and (max-width: 440px){
    padding: 0 10px;
  }
}
.slide-second{
  grid-template-rows: 280px 1fr;
}
.full-width{
  padding: 0;
}

