.nav {
  position: fixed;
  top:0;
  width: calc(100% - 90px);
  height: 126px;
  padding: 0 45px;
  @media screen and (max-width: 1600px){
    height: 90px;
  }
  @media screen and (max-width: 1366px){
    padding: 0 30px;
    width: calc(100% - 60px);
  }
  @media screen and (max-width: 440px){
    padding: 0 10px;
    width: calc(100% - 20px);
  }
    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      height: 100%;
      div{
        vertical-align: middle;
      }
      &_phone {
        &--icon {
          height: 40px;
          width: 40px;
          display: inline-block;
          border: 1px solid $lightAccent;
          border-radius: 50%;
          margin-right: 25px;
          transition: 0.4s ease;
          background-image: url('../images/phone.png');
          background-repeat: no-repeat;
          background-position: center;
          @media screen and (max-width: 1366px){
            width: 35px;
            height: 35px;
            margin-right: 20px;
          }
        }
        &--text {
          font-size: 16px;
          line-height: 50%;
          color: #94979E;
          text-decoration: none;
          transition: 0.2s linear;
          @media screen and (max-width: 1366px){
            font-size: 14px;
          }
          @media screen and (max-width: 440px){
            display: none;
          }
        }
        &:hover { 
          .nav-content_phone--icon {
            background-color: rgba($color: #D8D8D8, $alpha: .7);
            margin-right: 35px;
            @media screen and (max-width: 1366px){
              margin-right: 30px;
            }
          }
        }
      }
      &_logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 1366px){
          &>img{
            height: 30px;
          }
        }
      }
      &_right-menu{
        &--list{
          font-family: TimeRoman;
          display: inline-block;
          list-style: none;
          margin-right: 100px;
          &>li{
            display: inline-block;
            margin-right: 35px;
            &:last-child{
              margin-right: 0;
            }
            a {
              text-decoration: none;
            }
          }
          @media screen and (max-width: 1600px){
            margin-right: 60px;
          }
          @media screen and (max-width: 1366px){
            margin-right: 30px;
            &>li{
              margin-right: 20px;
            }
          }
          @media screen and (max-width: 1279px){
            display: none;
          }
          
        }
        .request-btn{
          margin-right: 25px;
        }
        .btn-menu{
          position: relative;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          padding: 0;
          border: none;
          border-radius: 50%;
          background-color: #D8D8D8;
          .line{
            position: absolute;
            width: 20px;
            height: 3px;
            left: 10px;
            background-color: #2F3741;
            &-top{
              top:16px
            }
            &-bottom{
              bottom:16px;
            }
          }
        }
      }
    }
    .preloader{
      position: absolute;
      width: inherit;
      height: 1px;
      bottom: 0;
      background-color: $slideAccent;
    }
}