.slider{
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden;
  &-wrapper{
    display: flex;
    transition: tranform 0.6s ease;
    height: inherit;
    &_item{
      flex: 0 0 100%;
      max-width: 100%;
      &-inner{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 7fr 100px;
        @media screen and (max-width: 1600px){
          grid-template-rows: 4fr 85px;
        }
        @media screen and (max-width: 1366px){
          grid-template-rows: 4fr 80px;
        }
        @media screen and (max-width: 440px){
        }
        .top-row{
          display: inherit !important;          
          grid-row: 1;
          grid-column: 1/span 12;
          padding-top: 60px;
          @media screen and (max-width: 1600px){
            padding-top: 40px;
          }
          @media screen and (max-width: 1366px){
            padding-top: 30px;
          }
          &_left-column{
            grid-column: 1/ span 2;
            p{
              margin: 0;
              font-family: Helvetica;
              font-size: 26px;
              line-height: 36px;
              color: #2E363F;
              @media screen and (max-width: 1600px){
                font-size: 20px;
                line-height: 30px;
              }
              @media screen and (max-width: 1366px){
                font-size: 18px;
                line-height: 26px;
              }
            }
          }
          &_middle-column{ 
            grid-column: 4/ span 3;
            z-index: 1;
            @media screen and (max-width: 1366px){
              grid-column: 5/ span 3;
            }
            @media screen and (max-width: 768px){
              grid-column: 5/ span 5;
            }
            @media screen and (max-width: 800px){
              grid-row: 2;
              grid-column: 1/ span 8;
            }
            p{
              margin: 0;
              margin-right: 33px;
              width: 63%;
              float: right;
              font-family: HelveticaLight;
              font-size: 16px;
              line-height: 26px;
              @media screen and (max-width: 1600px){
                font-size: 14px;
                line-height: 24px;
              }
              @media screen and (max-width: 1366px){
                width: 85%;
                margin: 0px 43px 0 0;
                font-size: 13px;
                line-height: 23px;
              }
              @media screen and (max-width: 1024px){
                width: 87%;
                margin: 0 10px 0 0;
                font-size: 11px;
                line-height: 17px;
              }
              @media screen and (max-width: 800px){
                width: 69%;
                margin: 0px 143px 0 0;
                font-size: 14px;
                line-height: 17px;
              }
              @media screen and (max-width: 440px){
                width: 100%;
                margin: 50px 0 0 0;
                font-size: 14px;
                line-height: 17px;
              }
            }
          }
          &_plane-pic{
            position: absolute;
            opacity: 0;
            left: 500px;
            z-index: 0;
            transition: left 2s ease-in-out, opacity 1.5s linear;
            &--visible{
              opacity: 1;
              left: 1058px;
            }
            @media screen and (max-width: 1600px){
              left: 300px;
              img{
                height: 300px;
              }
              &--visible{
                left: 900px;
              }
            }
            @media screen and (max-width: 1366px){
              img{
                height: 230px;
              }
              &--visible{
                left: 790px;
              }
            }
            @media screen and (max-width: 1280px){
              &--visible{
                left: 700px;
              }
            }
            @media screen and (max-width: 1024px){
              &--visible{
                left: 500px;
              }
            }
            @media screen and (max-width: 800px){
              left: 50px;
              &--visible{
                left: 250px;
              }
            }
            @media screen and (max-width: 440px){
              display: none;
            }
          }
        }
        .bottom-row{
          grid-column: 1/ span 12;
          @media screen and (max-width: 500px){
            grid-row:3;
          }
          .btn{
            position: absolute;
            bottom: 55px;
          }
          &_conditions{
            grid-column: 3/ span 7;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 1366px){
              grid-column: 3/ span 8;
            }
            @media screen and (max-width: 768px){
              grid-column: 5/span 5;
              margin-top: -25px
            }
            @media screen and (max-width: 768px){
              grid-column: 5/span 8;
              margin-top: -25px
            }
            &>ul{
              list-style: none;
              display: inline-block;
              padding-left: 5px;
              @media screen and (max-width: 1600px){
                margin-top: 0;
              }
              li{
                display: inline-block;
                margin-right: 127px;
                font-family: HelveticaRegular;
                font-size: 16px;
                color: #A9ADB6;
                &:last-child{
                  margin-right: 0;
                }
                span{
                  color: #525761;
                }
                @media screen and (max-width: 1600px){
                  font-size: 13px;
                }
                @media screen and (max-width: 1366px){
                  font-size: 12px;
                  margin-right: 130px;
                }
                @media screen and (max-width: 1280px){
                  font-size: 11px;
                  margin-right: 130px;
                }
                @media screen and (max-width: 1024px){
                  font-size: 10px;
                  margin-right: 45px;
                }
                @media screen and (max-width: 800px){
                  font-size: 12px;
                  margin-right: 45px;
                }
                @media screen and (max-width: 800px){
                  font-size: 12px;
                  margin-right: 25px;
                }
              }
            }
          }
          &_slider-indicators{
            grid-column: 11/ span 2;
            width: 200px;
            padding-top: 20px;
            margin: 0 0 0 auto;
            @media screen and (max-width: 1600px) {
              padding-top: 0;
            }
            @media screen and (max-width: 1366px) {
              width: 160px;
            }
            @media screen and (max-width: 800px) {
              grid-column: 10/ span 2;
            }
            @media screen and (max-width: 500px) {
              display: none;
            }
            .indicator{
              display: inline-block;
              margin-right: 9px;
              width: 40px;
              height: 2px;
              background-color: #D8D8D8;
              &:last-child{
                margin-right: 0;
              }
              @media screen and (max-width: 1600px) {
                width: 30px;
              }
              @media screen and (max-width: 1024px) {
                margin-right: 9px;
                width: 24px;
              }
             
            }
            .active{
              height: 6px;
              background-color: #2A323B;
              @media screen and (max-width: 1024px) {
                height: 4px;
              }
            }
          }
        }
      }
      .additional{
        max-width: 100%;
        @media screen and (max-width: 800px){
          position: absolute;
          max-width: 1280px;
          width: 100%;
          overflow-x: scroll;
          overflow-y: hidden;
        }
        .top-row{
          @media screen and (max-width: 1920px) and (max-height:1079px){
            padding-top: 35px;
          }
          @media screen and (max-width: 1366px) {
            padding-top: 30px;
          }
          @media screen and (max-width: 800px) {
            width: 1550px;
            overflow-y: hidden;
          }
          &_item{
            position: relative;
            grid-column: span 2;
            &--heading{
              margin-top: 10px;
              width: 155px;
              font-family: HelveticaRegular;
              font-size: 20px;
              line-height: 30px;
              color: #2E363F;
              @media screen and (max-width: 1366px) {
                font-size: 18px;
                line-height: 28px;
              }
              @media screen and (max-width: 1366px) {
                font-size: 16px;
                line-height: 25px;
              }
              @media screen and (max-width: 800px) {
                font-size: 18px;
                line-height: 25px;
              }
            }
            &--text{
              position: absolute;
              top: 90px;
              width: 228px;
              font-family: HelveticaLight;
              font-size: 16px;
              line-height: 26px;
              @media screen and (max-width: 1366px) {
                width: 200px;
                font-size: 12px;
                line-height: 24px;
              }
              @media screen and (max-width: 1024px) {
                width: 150px;
                font-size: 12px;
                line-height: 24px;
              }
              @media screen and (max-width: 800px) {
                width: 200px;
                font-size: 16px;
                line-height: 25px;
              }
            }
          }
        } 
      }
    }
  }
  .controls{
    position: absolute;
    top:60px;
    right: 0;
    width: 92px;
    height: 40px;
    @media screen and (max-width: 1600px){
      top:40px;
    }
    @media screen and (max-width: 1366px){
      top:30px;
    }
    &-btn{ 
      display: inline-block;
      text-align: center;
      width: 45px; /* ширина кнопки */
      height: 40px; /* высота кнопки */ 
      background-color: rgba($color: #D8DEE7, $alpha: 1); /* цвет фона */
      transition: .3s;
      &--left{
        
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        &::before{
          top: 50%;
          background-image: url('../images/arrow.png') !important;
        }
      }
      &--right{
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        &::before{
          top: 50%;
          background-image: url('../images/arrow.png') !important;
          transform: translateY(100%) rotate(-180deg) !important;
        }
      }
      &::before{
        content: '';
        display: inline-block;
        width: 15px; /* ширина иконки (стрелочки) */
        height: 10px; /* высота иконки (стрелочки) */
        transform: translateY(100%);
        background-size: 100% 100%;
      }
      &:hover, &:focus{
      
      }
  
    }
  }
}