section.container.slide.slide-first.slide-first-not_loaded
  .left-column
    .left-column_heading
      .left-column_heading--dark  Из Китая в&nbsp;Россию
      .left-column_heading--light доставка любых&nbsp;грузов под&nbsp;ключ
    .left-column_description.text-muted
      span от 45 кг до целого контейнера
    .left-column_request
      button.btn.btn-light Оставить заявку  
  .middle-column
    p.middle-column_text.text-muted
      |Компания PACIFIC ASIA GROUP 
      |с&nbsp;2007 года предоставляет 
      |качественный сервис по доставке 
      |грузов из Китая.
    .middle-column_play
      .middle-column_play--icon
      .middle-column_play--text
        a(href='#' data-play="play") Смотреть видео
  .right-column
    .right-column_pagination
      .right-column_pagination--page
        span 01
      .right-column_pagination--total
        span /0
            | 
            br 
            |5