footer.footer
  .footer-content
      .footer-content_describe
        span Листайте вниз
      .footer-content_arrow(data-slide='next')
      .footer-content_socials
        .icon.icon-facebook
        .icon.icon-twitter
