nav.nav
  .nav-content
    .nav-content_phone
      .nav-content_phone--icon
      a(href="tel:8–800–234–21–23").nav-content_phone--text 8–800–234–21–23
    .nav-content_logo
      img(src="assets/images/logo.png", alt="Логотип")
    .nav-content_right-menu
      ul.nav-content_right-menu--list.text-muted
        li 
          a.text-muted(href='#') Стоимость
        li 
          a.text-muted(href='#') Доставка из Китая
        li 
          a.text-muted(href='#') Контакты
      button.btn.request-btn Запрос
      button.btn-menu
        span.line.line-top
        span.line.line-bottom
        
  .preloader