section.container.full-width.slide.slide-second
  div.tab.tab-left.tab-selected
    .container.row.row-top
      .row-top_left-column
        h1.row-top_left-column--heading Транспортные услуги
      .row-top_middle-column
        ul.row-top_middle-column--tabs
          div.tab-indicator(data-tab="left")
          li.tab(data-tab="left") Основные
          li.tab(data-tab="right") Дополнительные 
      .row-top_right-column
        .row-top_right-column_pagination
          .row-top_right-column_pagination--page
            span 02
          .row-top_right-column_pagination--total
            span /0
                | 
                br 
                |5
    .container.row.row-bottom
      .row-bottom_slider
        include _slider
  div.tab.tab-right
    .container.row.row-top
      .row-top_left-column
        h1.row-top_left-column--heading Транспортные услуги
      .row-top_middle-column
        ul.row-top_middle-column--tabs
          div.tab-indicator(data-tab="left")
          li.tab(data-tab="left") Основные
          li.tab(data-tab="right") Дополнительные 
      .row-top_right-column
        .row-top_right-column_pagination
          .row-top_right-column_pagination--page
            span 02
          .row-top_right-column_pagination--total
            span /0
                | 
                br 
                |5
    .container.row.row-bottom
      .row-bottom_slider
        include _slider1