.slider
  .slider-wrapper
    .slider-wrapper_item
      .slider-wrapper_item-inner
        .row.top-row
          .top-row_left-column
            p Экспресс&nbsp;авиа доставка&nbsp;из&nbsp;Китая
          .top-row_middle-column
            p.text-muted Перевозка сборных грузов из Китая в составе сборного контейнера оптимально подходит для перевозки небольших партий в разумные сроки по низкой цене.
          .top-row_plane-pic
            img(src="assets/images/plane.png", alt="plane")
        .row.bottom-row
          button.btn.btn-dark Подробнее
          .bottom-row_conditions
            ul
              li Минимальная партия груза —
                span 400 кг.
              li Срок доставки —
                span 45–50 дней
              li Стоимость доставки — 
                span 0,9 $ / кг.
          .bottom-row_slider-indicators
            .indicator.active
            .indicator
            .indicator
            .indicator
  .controls
    a.controls-btn.controls-btn--left
    a.controls-btn.controls-btn--right