.slider
  .slider-wrapper
    .slider-wrapper_item
      .slider-wrapper_item-inner.additional
        .row.top-row
          .top-row_item
            h5.top-row_item--heading Таможенные оформления&nbsp;грузов из&nbsp;Китая
            p.top-row_item--text.text-muted Полный комплекс услуг по таможенной очистке товаров из Китая: широкие возможности с Pacific Asia Group.
          .top-row_item 
            h5.top-row_item--heading Финансовое сопровождение
            p.top-row_item--text.text-muted Вам необходимо оплатить товар? - предложим различные варианты перевода денег в Китай для юридических лиц.
          .top-row_item
            h5.top-row_item--heading Поиск производителей в&nbsp;Китае
            p.top-row_item--text.text-muted Помощь в поиске надежного производителя абсолютно бесплатно. Вы получите прямые контакты заводов из базы производителей, проверенных нами на реальных поставках, либо мы осуществим новый поиск.
          .top-row_item
            h5.top-row_item--heading Эскпорт в&nbsp;Китай
            p.top-row_item--text.text-muted Вы получите всю необходимую информацию для выхода на новый рынок и организации успешного экспорта в Китай из России.
          .top-row_item
            h5.top-row_item--heading Оборудование из&nbsp;Китая
            p.top-row_item--text.text-muted Недорогие станки для малого бизнеса или целые автоматизированные линии – вы можете выгодно купить оборудование в Китае и получить его на своем складе в Москве или любом другом городе РФ.
          .top-row_item
            h5.top-row_item--heading Импорт из&nbsp;Китая
            p.top-row_item--text.text-muted Транспортная компания Pacific Asia Group предлагает услуги организации экспорта и импорта из Китая.
