doctype html
html(lang="ru")
  head
    title PA China Chipsa Test
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="theme-color" content="#394551")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    .page-preloader
      .page-preloader-top
        .page-preloader-top_logo
          img(src="assets/images/logo.png")
        .page-preloader-top_progress-bar
          .page-preloader-top_progress-bar--progress

    .device-horizontal-alert
      p.rotate-alert Пожалуйста, поверните свой телефон
      p.iphone5-alert Ширины вашего экрана недостаточно
    include templates/_header
    .video-bg(data-mouse='mouseout')
      .video-bg_overlay
        .video-bg_overlay--line
        span.video-bg_overlay--close(data-play='stop') &#215;
      video(src="assets/videos/videobg.mp4" autoplay muted loop)
    include templates/_firstSlide
    include templates/_secondSlide
    include templates/_footer
    script(src="assets/js/script.js")
      