@import './partials/fonts';
@import './partials/variables';
@import './partials/slider';
@import './partials/grid';
@import './partials/nav';
@import './partials/footer';

body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: $darkAccent;
  background-image: url('../images/bg.jpg');
  background-attachment: fixed;
  z-index: -1;
  &::-webkit-scrollbar{
    display: none;
  }
}

a{
  text-decoration: none;
}

.device-horizontal-alert{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url('../images/bg.jpg');
  display: none;
  z-index: 999;
  @media screen and (max-width: 767px) and (orientation: landscape){
    display: block;
    overflow: hidden;
    .rotate-alert{
      display: block;
    }
    .iphone5-alert{
      display: none;
    }
  }
  @media screen and (max-width: 321px) and (orientation: portrait){
    display: block;
    overflow: hidden;
    .rotate-alert{
      display: none;
    }
    .iphone5-alert{
      display: block;
      width: 100%;
      transform: translate(-40%,-50%);
    }
  }
  p{
    margin: 0;
    color: #fff;
    position: absolute;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
  }
}
.page-preloader{
  position: fixed;
  z-index: 999;
  left: 0;top:0;
  width: 100%;
  height: 100vh;
  background: url('../images/bg.jpg');
  opacity: 1;
  transition: 0.2s linear;
  &-done{
    opacity: 0;
    visibility: hidden;
  }
  &-top{
    position: relative;
    height: 126px;
    width: 100%;
    padding: 0 45px;
    box-sizing: border-box;
    @media screen and (max-width: 1600px){
      height: 90px;
    }
    &_logo{
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%,-50%);
    }
    &_progress-bar{
      position: absolute;
      bottom: 0;
      width: calc(100% - 90px);
      height: 2px;
      background-color: #818181;
      &--progress{
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: 1s;
      }
    }
  }
}
.btn{
  font-family: Athelas;
  font-size: 15px;
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid rgba($color: #D1D7DB, $alpha: .3);
  border-radius: 20px;
  color: #D1D7DB;
  @media screen and (max-width: 1366px){
    font-size: 13px;
  }
  @media screen and (max-width: 440px){
    font-size: 12px;
    padding: 7px 10px;
  }
}
.request-btn{
  cursor: pointer;
  transition: .3s ease;
  &:hover{
    background-color: rgba($color: #D8D8D8, $alpha: .2);
  }
}
.btn-light{
  background-color: $lightAccent;
  color: #2D353F; 
}
.btn-dark{
  background-color:#2D353F; 
  color: $lightAccent;
}
.text-muted {
  color: $mutedText;
}

.fullscreen{
  opacity: 1;
  &[data-mouse="mouseout"]{
    visibility: visible;
    opacity: 1;
  }
}
.hidden{
  opacity: 0;
  visibility: hidden;
}
.video-bg{
  position: fixed;
  top:0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: -2;
  &[data-mouse="mouseover"]{
    visibility: visible;
    opacity: .3;
  }
  &_overlay{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .3;
    z-index: 1;
    &--line{
      position: absolute;
      top: 126px;
      left: 45px;
      width: calc(100% - 90px);
      height: 2px;
      margin: 0 auto;
      background-color: #818992;
      @media screen and (max-width: 1600px){
        top: 90px;
      }
      @media screen and (max-width: 1366px){
        width: calc(100% - 60px);
      }
    }
    &--close{
      position: absolute;
      top:63px;
      right: 45px;
      width: 30px;
      height: 40px;
      font-size: 60px;
      line-height: 40px;
      transform: translateY(-50%);
      color: #818992;
      cursor: pointer;
      @media screen and (max-width: 1600px){
        top: 45px;
      }
      @media screen and (max-width: 1366px){
        right: 30px;
      }
    }
  }
  video{
    width:100%;
    height: 100%;
    z-index: -5;
  }
}

.slide{
  margin: 126px 0 0 0;
  width: 100%;
  height: calc(100vh - 126px);
  
  padding-bottom: 114px;
  box-sizing: border-box;
  transition: .05s;
  @media screen and (max-width: 1600px){
    margin: 90px 0 0 0;
    height: calc(100vh - 90px);
    padding-bottom: 85px;
  }

  &-first{
    position: fixed;
    padding-top: 55px;
    top: 0;
    transition: 0.1s ease-out;
    @media screen and (max-width: 1600px){
      padding-top: 40px;
    }
    @media screen and (max-width: 1366px){
      padding-top: 30px;
    }
    @media screen and (max-width: 440px){
      padding-top: 20px;
    }
     *{z-index: 10;}
     &-not_loaded{
       padding-left:0;
       opacity: 0;
     }
    .left-column {
      position: relative;
      grid-column: 1/ span 4;
      @media screen and (max-width: 440px){
        grid-column: 1/ span 5;
      }
      &_heading{
        font-family: Bodoni;
        font-size: 80px;
        line-height: 70px;
        margin-bottom: 60px;
        &--dark{
          color: #616972;
        }
        &--light{
          color: $lightAccent;
        }
        @media screen and (max-width: 1600px){
          font-size: 65px;
          line-height: 55px;
          margin-bottom: 45px;
        }
        @media screen and (max-width: 1366px){
          font-size: 60px;
          line-height: 50px;
          margin-bottom: 45px;
        }
        @media screen and (max-width: 768px){
          font-size: 51px;
          line-height: 41px;
        }
        @media screen and (max-width: 440px){
          font-size: 28px;
          line-height: 29px;
        }
      }
      &_description{
        width: 45%;
        font-family: HelveticaLight;
        font-size: 24px;
        line-height: 36px;
        @media screen and (max-width: 1600px){
          font-size: 20px;
          line-height: 30px;
        }
        @media screen and (max-width: 1024px){
          width: 80%;
        }
        @media screen and (max-width: 440px){
          width: 100%;
          font-size: 14px;
          line-height: 25px;
        }
      }
      &_request{
        position: absolute;
        bottom: 55px;
        @media screen and (max-width: 440px){
          bottom: 90px;
        }
      }
    }
    .middle-column {
      position: relative;
      grid-column: 5/ span 2;
      @media screen and (max-width: 1024px){
        grid-column: 6/ span 3;
      }
      @media screen and (max-width: 768px){
        grid-column: 6/ span 4;
      }
      @media screen and (max-width: 440px){
        display: none;
      }
      &_text{
        font-family: HelveticaLight;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 50px;
        @media screen and (max-width: 1600px){
          font-size: 14px;
          line-height: 25px;
          margin-bottom: 40px;
        }
        @media screen and (max-width: 1366px){
          font-size: 11px;
          line-height: 19px;
          margin-bottom: 30px;
        }
        @media screen and (max-width: 1024px){
          position: absolute;
          bottom: 55px;
          margin-bottom: 0;
        }
      }
      &_play{
        position: relative;
        height: 40px;
        @media screen and (max-width: 1024px){
          display: none;
        }
        &--icon{
          display: inline-block;
          width: 40px;
          height: 40px;
          margin-right: 20px;
          border: 1px solid rgba($color: $lightAccent, $alpha: 0.3);
          border-radius: 50%;
          background-image: url('../images/play.png');
          background-repeat: no-repeat;
          background-position: center;
          transition: 0.4s ease;
          @media screen and (max-width: 1024px){
            width: 35px;
            height: 35px;
            margin-right: 5px;
          }
        }
        &--text{
          position: absolute;
          display: inline-block;
          height: 40px;
          line-height: 40px;
          a{
            font-family: Athelas;
            font-size: 16px;
            line-height: 26px;
            color: $lightAccent;
            @media screen and (max-width: 1366px){
              font-size: 14px;
            }
          }
          @media screen and (max-width: 1024px){
            height: 40px;
            line-height: 40px;
          }
        }
        &:hover{
          .middle-column_play--icon{
            background-color: rgba($color: $lightAccent, $alpha: .7);
            margin-right: 30px;
            @media screen and (max-width: 1024px){
              margin-right: 10px;
            }
          }
        }
      }
    }
    .right-column {
      position: relative;
      grid-column: 10/ span 3;
      @media screen and (max-width: 440px){
        grid-column: 9/ span 4;
      }
      &_pagination{
        &--page{
          span{
            position: absolute;
            margin-top: 110px;
            font-family: BodoniBold;
            font-size: 188px;
            line-height: 82px;
            letter-spacing: -21px;
            color: $lightAccent;
            @media screen and (max-width: 1600px){
              margin-top: 70px;
              font-size: 140px;
              line-height: 68px;
              letter-spacing: -10px;
            }
            @media screen and (max-width: 1024px){
              margin-top: 30px;
              font-size: 90px;
            }
            @media screen and (max-width: 440px){
              font-size: 60px;
              letter-spacing: 0;
            }
          }
        }
        &--total{
          position: absolute;
          right: 0;
          
          span{
            display: table;
            width: 50px;
            font-family: BodoniBold;
            font-size: 68px; 
            text-align: right;
            line-height: 82px;
            color: $lightAccent;
            opacity: 0.3;
            text-orientation: upright;
            z-index: 40;
            @media screen and (max-width: 1600px){
              font-size: 56px;
              line-height: 68px;
            }
            @media screen and (max-width: 1024px){
              font-size: 50px;
              line-height: 45px;
            }
            @media screen and (max-width: 440px){
              font-size: 38px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
  
  &-second{
    position: absolute;
    margin-top: 100vh;
    height: calc(var(--vh, 1vh) * 100 - 126px);
    background: #f2f5fa;
    z-index: 20;
    @media screen and (max-width: 1600px){
      height: calc(var(--vh, 1vh) * 100 - 90px);
    }
    div.tab{
      grid-row: 1/ span 2;
      grid-column: 1/ span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 280px 1fr;
      grid-column-gap: 30px;
      z-index: 99;
      opacity: 0;
      transition: .3s ease;
      @media screen and (max-width: 1600px){
        grid-template-rows: 200px 1fr;
      }
      @media screen and (max-width: 1366px){
        grid-template-rows: 190px 1fr;
      }
      @media screen and (max-width: 440px){
        grid-template-rows: 160px 1fr;
      }
      &-hiding{
        opacity: 0;
        .row{
          &-top{
            &_left-column{
              &--heading{
                transform: translateX(20%);
              }
            }
            &_middle-column{
              display: block;
            }
            &_right-column{
              &_pagination{
                &--page{
                  span{
                    transform: translateX(40%);
                  }
                }
                &--total{
                  span{
                    display: block;
                  }
                }
              }
            }
          }
          &-bottom{
            &_slider{
              transform: translateX(5%);
              @media screen and (max-width: 440px){
                transform: translateX(0);
              }
            }
          }
        }
      }
      &-selected{
        display: grid;
        padding-left: 0;
        opacity: 1;
        z-index: 100;
      }
      .row{
        grid-column: 1/span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 30px;
        &-top{
          grid-row: 1;
          padding-top: 50px;
          @media screen and (max-width: 1600px){
            padding-top: 40px;
          }
          @media screen and (max-width: 1366px){
            padding-top: 30px;
          }
          @media screen and (max-width: 440px){
            grid-template-columns: 3fr 1fr;
          }
          &_left-column{
            grid-column: 1/ span 4;
            &--heading{
              font-family: TimeRoman;
              margin: 0;
              font-size: 76px;
              font-weight: 500;
              line-height: 78px;
              color: #232930;
              transition: .4s;
              @media screen and (max-width: 1600px){
                font-size: 65px;
                line-height: 55px;
                margin-bottom: 45px;
              }
              @media screen and (max-width: 1366px){
                font-size: 60px;
                line-height: 50px;
                margin-bottom: 45px;
              }
              @media screen and (max-width: 1024px){
                font-size: 51px;
                line-height: 41px;
                
              }
              @media screen and (max-width: 800px){
                font-size: 51px;
                line-height: 41px;
              }
              @media screen and (max-width: 440px){
                grid-row: 1;
                grid-column: 1/ span 6;
                font-size: 28px;
                line-height: 29px;
              }
            }
          }
          &_middle-column{
            position: relative;
            grid-column: 5/ span 3;
            @media screen and (max-width: 1024px){
              grid-column: 5/ span 4;
            }
            @media screen and (max-width: 800px){
              margin-top:100px;
              grid-column: 5/ span 5;
            }
            @media screen and (max-width: 768px){
              margin-top:10px;
            }
            @media screen and (max-width: 440px){
              grid-row: 2;
              margin-top: -21px;
              grid-column: 2/span 8;
            }
            @media screen and (max-width: 400px){
              grid-row: 2;
              margin-top: -21px;
              grid-column: 2/span 9;
            }
            &--tabs{
              position: relative;
              display: block;
              list-style: none;
              display: inline-block;
              margin: 10px 0 0 10px ;
              padding: 10px;
              @media screen and (max-width: 1366px){
                margin: 10px 0 0 24px;
              }
              @media screen and (max-width: 1024px){
                margin: 10px 0 0 35px;
              }
              @media screen and (max-width: 768px){
                margin: 100px 0 0 35px;
              }
              @media screen and (max-width: 440px){
                margin: 0 0 0 35px;
              }
              .tab{
                position: relative;
                display: inline-block;
                margin-right: 90px;
                font-family: Athelas;
                font-size: 16px;
                line-height: 18px;
                color: #818992;
                cursor: pointer;
                opacity: 1 !important;
                z-index: 30;
                &:last-child{
                  margin-right: 0;
                }
                @media screen and (max-width: 1600px){
                  font-size: 14px;
                  line-height: 10px;
                  margin-bottom: 40px;
                }
                @media screen and (max-width: 1366px){
                  margin-right: 70px;
                }
                @media screen and (max-width: 1024px){
                  top: 0;
                  margin-bottom: 0;
                  margin-right: 40px;
                  font-size: 10px;
                }
              }
              .tab-indicator{
                position: absolute;
                top: 0;
                height: 40px;
                background-color: #E7EBF1;
                z-index: 20;
                border-radius: 20px;
                transition: .5s ease;
                @media screen and (max-width: 1024px){
                  top: 5px;
                  height: 30px;
                }
                &:before{
                  content:'';
                  position: absolute;
                  left: 15px;
                  top:50%;
                  transform: translateY(-50%);
                  width:10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: #34A62F;
                }
                &[data-tab="left"]{
                  left: -35px;
                  width: 165px;
                  @media screen and (max-width: 1600px){
                    left: -30px;
                    width: 135px;
                  }
                  @media screen and (max-width: 1366px){
                    left: -25px;
                    width: 130px;
                  }
                  @media screen and (max-width: 1024px){
                    left: -22px;
                    width: 100px;
                  }
                }
                &[data-tab="right"]{
                  left: 120px;
                  width: 215px;
                  @media screen and (max-width: 1600px){
                    width: 180px;
                  }
                  @media screen and (max-width: 1366px){
                    left: 110px;
                    width: 160px;
                  }
                  @media screen and (max-width: 1024px){
                    left: 65px;
                    width: 130px;
                  }
                }
              }
            }
          }
          &_right-column{
            position: relative;
            grid-column: 10/ span 3;
            @media screen and (max-width: 440px){
              grid-column: 9/ span 4;
            }
            &_pagination{
              &--page{
                span{
                  position: absolute;
                  margin-top: 110px;
                  margin-left: -40px;
                  font-family: BodoniBold;
                  font-size: 188px;
                  line-height: 82px;
                  letter-spacing: 0px;
                  color: #2A323B;
                  transition: .4s;
                  @media screen and (max-width: 1600px){
                    margin-top: 70px;
                    font-size: 140px;
                    line-height: 68px;
                    letter-spacing: -10px;
                  }
                  @media screen and (max-width: 1024px){
                    margin-top: 30px;
                    font-size: 90px;
                    letter-spacing: -5px;
                  }
                  @media screen and (max-width: 440px){
                    font-size: 60px;
                    letter-spacing: 0;
                  }
                }
              }
              &--total{
                position: absolute;
                right: 0;
                span{
                  display: table;
                  width: 50px;
                  font-family: BodoniBold;
                  font-size: 68px; 
                  text-align: right;
                  line-height: 82px;
                  color: #d9dde3;
                  text-orientation: upright;
                  @media screen and (max-width: 1600px){
                    font-size: 56px;
                    line-height: 68px;
                  }
                  @media screen and (max-width: 1024px){
                    font-size: 50px;
                    line-height: 45px;
                  }
                  @media screen and (max-width: 440px){
                    font-size: 38px;
                    line-height: 32px;
                  }
                }
              }
            }
          }
        }
        &-bottom{
          grid-row:2;
          grid-column:1/span 12;
          display: block;
          background-color: #E7EBF1;
          position: relative;
          &_slider{
            height: 100%;
            transition: .6s;
          }
        }
      }
    }
    
    
  }
}

